div.topic p.topic-title {
    font-family: {{ theme_head_font_family }};
    font-weight: bold;
    font-size: 16px;
    margin: 10px 20px 10px;
    padding: 0;
    line-height: 1;
}

div.admonition p.admonition-title {
    font-family: {{ theme_head_font_family }};
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
    line-height: 1;
}

div.admonition {
    margin: 20px 0px;
    padding: 20px 20px 0;
    background-color: {{ theme_admonition_bg }};
    border: 1px solid {{ theme_admonition_border }};
}

div.admonition-todo {
    border: 2px solid red;
}
